 
        body {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #f1f5b8;
            margin: 0;
                      font-family: arial;
                      font-size: 1.2em;
                      color: #111;
          }
          .container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
          }
          
          .letter {
            
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s ease-in-out;
            font-size:190px;
            text-shadow: 15px 25px 15px  rgb(37, 37, 43);
             -webkit-text-stroke: 1px rgb(247, 240, 240);
             font-weight: bold;
             margin-bottom: 100px;
             z-index: -1;
          
             
          }
          .letter:first-child {
            color: red;
            animation: loader 10s infinite;
          }
          .letter:nth-child(2) {
           color: green;
            animation: loader 10s  infinite;
          }
          .letter:nth-child(3) {
            color: rgb(181, 43, 199);
            animation: loader 10s  infinite;
          }
          .letter:nth-child(4) {
            color: rgb(82, 5, 5);
            animation: loader 10s  infinite;
          }
          .letter:nth-child(5) {
            color: rgb(32, 17, 175);
            animation: loader 10s  infinite;
          }
          .letter:nth-child(6) {
            color: rgb(29, 185, 233);
            animation: loader 10s  infinite;
          }
          .letter:nth-child(7) {
            color: rgb(41, 128, 241);
            animation: loader 10s  infinite;
          }
          .letter:last-child {
            color: orangered;
            animation: loader 10s  infinite;
          }
          
          @keyframes loader {
            0% {
              rotate: 0deg;
            }
            25% {
              rotate: y 90deg;
             
            }
            50% {
              rotate: 45deg;
            }
            75% {
              rotate: x 45deg;
              
            }
            100% {
              rotate: 45deg;
            }
          }
          
          
          @supports not (rotate: 0deg) {
            @keyframes loader {
                0% {
                  transform: translateY(10px) rotate(0deg);
                }
                
                20% {
                  transform: translateY(20px);
                }
                
                50% {
                    transform: translateY(40px) rotate(180deg);
                }
                
                60% {
                  transform: translateY(30px) rotate(180deg);
                }
                
                80% {
                   transform: translateY(20px) rotate(180deg);
                }
                 
                100% {
                  transform: translateY(0px) rotate(360deg);
                }
            }
          }
          
                  .wrapper {
                      max-width: 960px;
                      margin: 10% auto;
                      text-align: center;
                      line-height: 2em;
                  }
          
                  .button {
                      border: 3px solid #111;
                      padding: 10px;
                      color: #111;
                      text-decoration: none;
                  }
          
                  .popup {
                      position: fixed;
                      width: 100%;
                      height: 100%;
                      top: 0;
                      left: 0;
                      background: rgba(0, 0, 0, 0.6);
                      display: none;
                  }
          
                  #xmas-popup .popup-content {
                      width: 640px;
                      height: 640px;
                      background: rgb(234, 238, 17);
                      margin: 100px auto;
                      position: relative;
                      border: 5px solid #fff;
          
                  }
          
                  .close {
                      position: absolute;
                      top: 5px;
                      right: 5px;
                      border-radius: 50%;
                      background: #222;
                      border: 3px solid rgb(255, 255, 255);
                      color: #fff;
                      text-decoration: none;
                      line-height: 0;
                      padding: 9px 0 11px;
                      width: 20px;
                      text-align: center;
                  }
          
                  .popup:target {
                      display: block;
                  }
                  p{
                    color: rgb(19, 24, 102); 
                    font-size: 20px; 
                    font-weight: 500px;
                    text-align: justify;
                  }

                  #spring{
                     
                    -webkit-text-stroke: 1px rgb(22, 7, 7) ; 
                     color: rgb(243, 14, 14); font-size: 50px;
                     text-shadow: 5px 5px 5px rgb(122, 60, 114);
                  }
                  .button{
                    color: rgb(245, 241, 248); 
                    background-color: blueviolet; 
                    border: none; width: 400px;
                    box-shadow: 5px 5px 5px rgb(44, 35, 44);
                  border-radius: 30px;
                    padding-left: 45px;
                    padding-right: 45px;
                    -webkit-text-stroke: 1px rgb(248, 246, 246) ; 
                    border: 3px solid white;
                  }